# build output
dist/
# generated types
.astro/

# for obsidion:
src/assets/o/
src/content/docs/o/
authoring/.obsidian/workspace.json

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
